
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div class="chessboard" id="chessboard">
    @*<div class="chess white" style="margin-top:1.5%; margin-left:1.5%;">
        1
    </div>*@

    <div class="chess black" style="margin-top:27.62%; margin-left:27.62%;">
        1
    </div>

    <div class="chess black" style="margin-top:21.09%; margin-left:21.09%;">
        1
    </div>
</div>

